doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/w3.css')
        link(rel='stylesheet', href='/css/font-awesome.css')
    body(class="w3-container")
        block content
    script(src='/js/main.js')